step_function_code.json
{
    "Comment": "A description of my state machine",
    "StartAt": "StartCrawler",
    "States": {
      "StartCrawler": {
        "Type": "Task",
        "Parameters": {
          "Name": "flights_data_crawler"
        },
        "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
        "Next": "GetCrawler"
      },
      "GetCrawler": {
        "Type": "Task",
        "Parameters": {
          "Name": "flights_data_crawler"
        },
        "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
        "Next": "Is_Running?"
      },
      "Is_Running?": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.Crawler.State",
            "StringMatches": "RUNNING",
            "Next": "Wait"
          }
        ],
        "Default": "Glue StartJobRun"
      },
      "Wait": {
        "Type": "Wait",
        "Seconds": 5,
        "Next": "GetCrawler"
      },
      "Glue StartJobRun": {
        "Type": "Task",
        "Resource": "arn:aws:states:::glue:startJobRun.sync",
        "Parameters": {
          "JobName": "flight_data_ingestion"
        },
        "Catch": [
          {
            "ErrorEquals": [
              "States.TaskFailed"
            ],
            "Next": "Failed_Notification"
          }
        ],
        "Next": "JobRunStatus"
      },
      "JobRunStatus": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.JobRunState",
            "StringMatches": "SUCCEEDED",
            "Next": "Success_Notification"
          }
        ],
        "Default": "Failed_Notification"
      },
      "Success_Notification": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "arn:aws:sns:ap-south-1:930446798529:airline_pipeline_notification",
          "Message": "Glue Job Execution Successfull"
        },
        "End": true
      },
      "Failed_Notification": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "Message.$": "$",
          "TopicArn": "arn:aws:sns:ap-south-1:930446798529:airline_pipeline_notification"
        },
        "End": true
      }
    }
  }